:root {
    --background-primary: #051622;
    --background-card: #0B2D45;
    --off: #1BA098;
    --highlight: #DEB992;
}
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--background-primary);
    font-family: mulish;
}

