:root {
    --background-primary: #051622;
    --background-card: #0B2D45;
    --off: #1BA098;
    --highlight: #DEB992;
}

body {
    background-color: var(--background-primary);
    font-family: mulish;
}