<div class="background">
    <div class="modal-container">
        <div class="x" (click)="onModalClose()">
            X
        </div>
        <form class="form">
            <label for="name">Team Name</label>
            <input type="text" name="name">
            <label for="description">Description</label>
            <input type="text" name="description">
            <div class="select-section">
                <label class="dropdown-label">Select Members</label>
                <select>
                    <option>Pick an option</option>
                    <option></option>
                    <option></option>
                </select>
                <button type="submit" class="button">Submit</button>
            </div>
        </form>
    </div>
</div>
